:root {
  --jm-titlebar-height: 30px;
}

body {
  margin: 0;
  font-family: Segoe WPC, Segoe UI, Microsoft YaHei, sans-serif;
  font-size: 13px;
  line-height: 1.4em;
  position: relative;
  z-index: 1;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

#jianmu-app {
  width: 100%;
  height: 100vh;
  overflow: hidden;
}
