:root {
  --jm-titlebar-height: 30px;
}

html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

img {
  border-style: none;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
[type='button'],
[type='reset'],
[type='submit'] {
  appearance: button;
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type='button']::-moz-focus-inner,
[type='reset']::-moz-focus-inner,
[type='submit']::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type='button']:-moz-focusring,
[type='reset']:-moz-focusring,
[type='submit']:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type='checkbox'],
[type='radio'] {
  box-sizing: border-box;
  padding: 0;
}

[type='number']::-webkit-inner-spin-button,
[type='number']::-webkit-outer-spin-button {
  height: auto;
}

[type='search'] {
  appearance: textfield;
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type='search']::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details {
  display: block;
}

summary {
  display: list-item;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

body {
  font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB,
    Microsoft YaHei, \5fae\8f6f\96c5\9ed1, Arial, sans-serif;
  font-weight: 400;
  font-size: var(--el-font-size-base);
  color: var(--el-text-color-primary);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: transparent;
}

a {
  color: var(--el-color-primary);
  text-decoration: none;
}

a:hover,
a:focus {
  color: var(--el-color-primary-light-3);
}

a:active {
  color: var(--el-color-primary-dark-2);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--el-text-color-regular);
  font-weight: inherit;
}

h1:first-child,
h2:first-child,
h3:first-child,
h4:first-child,
h5:first-child,
h6:first-child {
  margin-top: 0;
}

h1:last-child,
h2:last-child,
h3:last-child,
h4:last-child,
h5:last-child,
h6:last-child {
  margin-bottom: 0;
}

h1 {
  font-size: calc(var(--el-font-size-base) + 6px);
}

h2 {
  font-size: calc(var(--el-font-size-base) + 4px);
}

h3 {
  font-size: calc(var(--el-font-size-base) + 2px);
}

h4,
h5,
h6,
p {
  font-size: inherit;
}

p {
  line-height: 1.8;
}

p:first-child {
  margin-top: 0;
}

p:last-child {
  margin-bottom: 0;
}

sup,
sub {
  font-size: calc(var(--el-font-size-base) - 1px);
}

small {
  font-size: calc(var(--el-font-size-base) - 2px);
}

hr {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0;
  border-top: 1px solid var(--el-border-color-lighter);
}

*,
:before,
:after {
  box-sizing: border-box;
}

html {
  line-height: 1.4;
  font-size: 16px;
  text-size-adjust: 100%;
  font-family: var(--font-family);
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: transparent;
}

body {
  margin: 0;
  width: 100%;
  min-width: 320px;
  min-height: 100vh;
  line-height: 1.4;
  font-size: 16px;
  font-weight: 400;
  color: var(--text-color);
  background-color: var(--bg-color);
  direction: ltr;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transition: background-color var(--el-transition-duration-fast);
  font-family: Segoe WPC, Segoe UI, Microsoft YaHei, sans-serif;
  position: relative;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  line-height: 1.25;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  display: flex;
  align-items: center;
  position: relative;
}

h1 .el-tag,
h2 .el-tag,
h3 .el-tag,
h4 .el-tag,
h5 .el-tag,
h6 .el-tag {
  margin-left: 8px;
}

h1,
h2,
h3,
h4,
h5,
h6,
strong,
b {
  font-weight: 600;
}

h1:hover .header-anchor,
h1:focus .header-anchor,
h2:hover .header-anchor,
h2:focus .header-anchor,
h3:hover .header-anchor,
h3:focus .header-anchor,
h4:hover .header-anchor,
h4:focus .header-anchor,
h5:hover .header-anchor,
h5:focus .header-anchor,
h6:hover .header-anchor,
h6:focus .header-anchor {
  opacity: 1;
}

h1 {
  margin-top: 1.5rem;
  margin-bottom: 2rem;
  font-size: 1.9rem;
}

@media screen and (min-width: 480px) {
  h1 {
    font-size: 2.2rem;
  }
}

h2 {
  margin-top: 2.25rem;
  margin-bottom: 1.25rem;
  padding-bottom: 0.3rem;
  line-height: 1.25;
  font-size: 1.65rem;
}

h2 + h3 {
  margin-top: 1.5rem;
}

h3 {
  margin-top: 2rem;
  font-size: 1.35rem;
}

h4 {
  font-size: 1.15rem;
}

p,
ol,
ul {
  margin: 1rem 0;
  line-height: 1.7;
}

a,
area,
button,
[role='button'],
input,
label,
select,
summary,
textarea {
  touch-action: manipulation;
}

a {
  font-weight: 500;
  text-decoration: inherit;
  color: var(--brand-color);
}

a.header-anchor {
  color: var(--brand-color);
}

a.header-anchor {
  position: absolute;
  margin-top: 0.125em;
  margin-left: -0.87em;
  padding-right: 0.23em;
  font-size: 0.85em;
  opacity: 0;
}

a.header-anchor:hover,
a.header-anchor :focus {
  text-decoration: none;
}

figure {
  margin: 0;
}

img {
  max-width: 100%;
}

ul,
ol {
  padding-left: 1.25em;
}

li > ul,
li > ol {
  margin: 0;
}

div .vp-table {
  width: 100%;
  overflow-y: hidden;
  overflow-x: auto;
  margin-bottom: 45px;
}

div .vp-table > table {
  border-collapse: collapse;
  width: 100%;
  background-color: var(--bg-color);
  font-size: 14px;
  line-height: 1.5em;
}

div .vp-table > table tr td:nth-child(2) {
  font-family: var(--font-family);
}

div .vp-table > table th,
div .vp-table > table td {
  white-space: nowrap;
  border-top: 1px solid var(--border-color);
  border-bottom: 1px solid var(--border-color);
  padding: 0.6em 1em;
  text-align: left;
  max-width: 250px;
  white-space: pre-wrap;
}

div .vp-table > table thead tr:first-child th {
  border-top: none;
}

div .vp-table > table tbody tr td:first-child {
  font-family: var(--font-family-mono);
}

blockquote {
  margin: 1rem 0;
  border-left: 0.2rem solid var(--el-border-color);
  padding: 0.25rem 0 0.25rem 1rem;
  font-size: 1rem;
  color: var(--text-color-lighter);
}

blockquote > p {
  margin: 0;
}

form {
  margin: 0;
}

details summary {
  margin: 16px 0;
  font-size: 18px;
  font-weight: 600;
}

:root {
  --vp-screen-max-width: 1376px;
  --text-color: var(--el-text-color-primary);
  --text-color-light: var(--el-text-color-regular);
  --text-color-lighter: var(--el-text-color-secondary);
  --brand-color: var(--el-color-primary);
  --brand-color-light: var(--el-color-primary-light-1);
  --bg-brand-color: var(--el-color-primary-light-9);
  --bg-color: var(--el-bg-color);
  --bg-color-rgb: 255, 255, 255;
  --bg-color-soft: #fafafa;
  --bg-color-mute: #f2f2f2;
  --border-color: var(--el-border-color);
  --border-color-light: var(--el-border-color-lighter);
  --font-family: var(--el-font-family);
  --font-family-mono: 'JetBrains Mono', source-code-pro, Menlo, Monaco, Consolas,
    'Courier New', monospace;
  --success-color: var(--el-color-success);
  --warning-color: var(--el-color-warning);
  --danger-color: var(--el-color-danger);
  --header-height: 55px;
  --nav-height: 55px;
  --vp-screen-max-width: 1362px;
  --vp-sidebar-width-mobile: 320px;
  --vp-sidebar-width-small: 266px;
  --sidebar-width-sm: 16rem;
  --sidebar-width-xs: 20rem;
  --content-min-width: 16rem;
  --content-max-width: 48rem;
  --nav-z-index: 11;
  --sub-nav-z-index: 11;
  --sidebar-z-index: 40;
  --overlay-z-index: 30;
  --code-line-height: 1.4;
  --code-font-size: var(--el-font-size-base);
  --code-bg-color: var(--el-fill-color-light);
  --code-text-color: var(--text-color);
  --code-font-family: var(--font-family-mono);
  --code-tooltip-bg-color: var(--code-bg-color);
  --code-tooltip-color: #0c61c9;
  --block-tip-bg-color: rgba(var(--el-color-primary-rgb), 0.1);
  --block-warning-bg-color: rgba(var(--el-color-danger-rgb), 0.1);
  --link-active-bg-color: rgba(var(--el-color-primary-rgb), 0.1);
}

@media screen and (min-width: 1440px) {
  :root {
    --vp-sidebar-width-small: 234px;
  }
}

@media screen and (min-width: 1680px) {
  :root {
    --vp-screen-max-width: 1482px;
    --vp-sidebar-width-small: 290px;
  }
}

code {
  margin: 0;
  border-radius: 4px;
  padding: 0.15rem 0.5rem;
  font-family: var(--code-font-family);
  font-size: var(--code-font-size);
  color: var(--code-text-color);
  line-height: var(--code-line-height);
  background-color: var(--code-bg-color);
}

pre code {
  background-color: transparent;
}

a > code {
  color: var(--code-link-color);
}

#jianmu-app {
  width: 100%;
  height: 100vh;
  overflow: hidden;
}
